<!doctype html>
<html>

<head>
  <title>Easy Notes</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <div class="text-left page-header">
      <h1>Hello, <%= user.local.email %></h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
      <div class="col-sm-6 writeNote">
        <h2>Create a New Note</h2>
        <% if (user.local.email) { %>
        <form action="/notes" method="POST">
          <input class="userName" type="text" name="userName" value="<%= user.local.email %>" hidden>
          <label for="noteTitle">Create a Title</label><br>
          <input class="noteTitle" type="text" value="" name="noteTitle"><br>
          <label for="noteBody">Write Your Note</label><br>
          <textarea class="noteBody" rows="10" cols="50" placeholder="Write a Note" name="noteBody"></textarea><br>
          <button type="submit">Submit</button>
        </form>
        <% } %>
      </div>
      <div class="col-sm-6">
        <h3>Notes</h3>
        <ul class="messages">
          <% for(var i=0; i<notes.length; i++) {%>
          <li class="message">
            <strong><span class="noteTitle"><%= notes[i].title %></span></strong>
            <button class="editButton">edit</button>
            <i class="far fa-trash-alt"></i><br>
            <span contenteditable="true" ><%= notes[i].notebody %></span>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <script src="main.js"></script>

</body>

</html>
